---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 2.2</h1>

## _loops.ipynb_

### Learning agenda of this notebook
There are scenarios is programming, where we need to repeat a set of instructions specified number of times or until a condition is met. Python provides three ways for executing the loops. While all the ways provide similar basic functionality, they differ in their syntax and condition checking time statements.
1. While loop
2. Jump statements in Python
    a. Infinite loop and break statement
    b. Continue statement
    c. While loop with else statement
3. For loop
    a. Range function
    b. Range function and for loop
    c. For loop with else, break and continue
    d. Nested for loop
4. Misc Examples

### 1. While loop
* The code in a while clause will be executed as long as the while statement’s condition is True
* While loop is generally used, when we don't know the number of times to iterate beforehand

In [1]:
# initialize loop variable - check condition - update loop variable
number = 0
while (number < 7):
    print(number)
    number = number + 1
print("Bye-Bye")

0
1
2
3
4
5
6
Bye-Bye

In [2]:
#Take input from user
n = int(input("Enter number: "))
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1   # update counter
# print the sum
print("The sum is", sum)

Enter number: 5
The sum is 15

### 2. Jump Statements in Python (break and continue)

#### a. Infinite loop and break statement: 
    - Python break statement causes a program to break out of a loop

In [3]:
n = 0
while True:
    n = n + 1
    if n == 5:
        break
    print(n)

1
2
3
4

In [4]:
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [5]:
n = 10
while n > 0:
    n = n - 1
    if n == 5:
        break
    print(n)

9
8
7
6

#### b. Continue statement: 
    - The continue statement gives you the option to skip over the part of a loop, but then continue through the rest of the loop

In [6]:
n = 10
while n > 0:
    n = n - 1
    if (n == 5 or n == 7):
        continue
    print(n)

9
8
6
4
3
2
1
0

In [7]:
# do not print banana
fruits = ["apple", "banana", "cherry", "guava"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry
guava

#### c. While loop with else statement: 
    - When the condition becomes False and the loop runs normally, the else clause will execute. However, if the loop is terminated prematurely by either a break or return statement, the else clause won’t execute at all.

![alt text](https://www.pythontutorial.net/wp-content/uploads/2020/10/Python-while-else.png)

In [8]:
# Loop runs normally, else clause will execute when the loop condition becomes false
n = 5
while n > 0:
    n = n - 1
    print(n)
else:
    print("Loop is finished")

4
3
2
1
0
Loop is finished

In [9]:
# You stop the loop using break statement, else clause will not excecute, 
n = 5
while n > 0:
    n = n - 1
    if n == 1:
        break
    print(n)
else:
    print("Loop is finished")

4
3
2

### 3. For loop
* We use for loop when we want to run a block of code for known set of items.

In [10]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [11]:
# print elements of a list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [12]:
# Loop through the letters in a string
for i in ("Be Happy"):
    print(i)

B
e

H
a
p
p
y

In [13]:
# iterate a list using for loop
# Program to find the sum of all numbers stored in a list

mylist = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0
# iterate over the list
for val in mylist:
    sum = sum + val
print("The sum is", sum)

The sum is 48

In [14]:
# iterate a tuple using for loop
friends = ('arif', 'rauf', 'hadeed', 'zalaid')

for friend in friends:
    print(friend)
    
type(friends)

arif
rauf
hadeed
zalaid

tuple

In [15]:
# iterate a set using for loop
val = {1,2,3,4,5,6}

for k in val:
    print(k)
type(val)

1
2
3
4
5
6

set

In [16]:
# iterate a dictionary using for 'loop'
vals = {1: 'school', 2:'college', 3: 'university'}

for k in vals.items():
    print(k)
type(vals)

(1, 'school')
(2, 'college')
(3, 'university')

dict

#### a. Range function
* We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 
* We can also define the start, stop and step size as range(start, stop,step_size). step_size defaults to 1 if not provided

In [17]:
print(range(10))

print(list(range(10)))

print(list(range(2, 8)))

print(list(range(2, 20, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

#### b. Range function and for loop

In [18]:
for number in range(4):
    print(number)

0
1
2
3

In [19]:
for number in range(4, 8):
     print(number)

4
5
6
7

In [20]:
for number in range(1, 10, 2):
     print(number)

1
3
5
7
9

#### c. For loop with else, break, and continue

In [21]:
student_name = input('enter name: ')

marks = {'hassan': 90, 'Ahmed': 55, 'Ali': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

enter name: 90
No entry with that name found.

In [22]:
#ignore even numbers, print odd numbers
for i in range(1,12):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11

#### d. Nested for loop

In [23]:
# define the range of outer loop
for outer_loop_number in range(1, 3):
    for inner_loop_character in "ABC":
        print(outer_loop_number, inner_loop_character)

1 A
1 B
1 C
2 A
2 B
2 C

### 4. Misc Examples

In [24]:
# Bubble Sort
mylist = [25, 15, -6, 8, 2]
print ("Original list:", mylist)
n = len(mylist)
for i in range(0, n-1,1):
        for j in range(0, n-i-1,1):
            if mylist[j] > mylist[j + 1] :
                mylist[j], mylist[j + 1] = mylist[j + 1], mylist[j]                
for i in range(len(mylist)):
    print (mylist[i])

Original list: [25, 15, -6, 8, 2]
-6
2
8
15
25

In [25]:
# Selection Sort
mylist = [25, 15, -6, 8, 2]
print ("Original list:", mylist)
n = len(mylist)
for i in range(0,n,1):
    min_idx = i
    for j in range(i+1, n):
                   if mylist[min_idx] > mylist[j]:
                        min_idx = j
    # Swap the found minimum element with the first element        
    mylist[i], mylist[min_idx] = mylist[min_idx], mylist[i]
print ("Sorted list:", mylist)

Original list: [25, 15, -6, 8, 2]
Sorted list: [-6, 2, 8, 15, 25]

In [26]:
# Insertion Sort
mylist = [25, 15, -6, 9, 2]
print ("Original list:", mylist)
n = len(mylist)
for i in range(1, n):
    key = mylist[i] #extraction
    j = i -1
    while j >=0 and key < mylist[j] :
        mylist[j+1] = mylist[j] #right shift
        j = j - 1
    mylist[j+1] = key  #insertion
 
print ("Sorted list:", mylist)

Original list: [25, 15, -6, 9, 2]
Sorted list: [-6, 2, 9, 15, 25]