<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lecture 2.4</u> "</div></h2>

## _tuple-operations.ipynb_
#### [Click me to learn more about Python Tuples](https://www.w3schools.com/python/python_tuples.asp)

### Learning agenda of this notebook
A Tuple in Python is similar to a List. The difference between the two is that we cannot change the elements of a tuple once it is assigned and is created using parenthesis.
1. How to create tuples?
2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements
3. Accessing elements of tuples?
4. Being immutable, you cannot add elements to a tuple (in list this is possible using append, extend, and insert)
5. Being immutable, you cannot remove elemenst from a tuple (in list this is possible using pop and remove methods)
6. Tuple concatenation and repetition
7. Slicing a tuple
8. Converting string object to tuple and vice-versa (using type casting, split() and join())
9. Misc tuple methods (count)
10. Some Built-in functions that can be used on tuples (len, max, min, sum)
11. Misc Concepts
    - Comparing objects and values
    - Comparing strings
    - Aliasing
12. Looping through a tuple

### 1. How to create Tuples?

In [1]:
# A tuple is created by placing comma separated values in parenthesis (or without prenthesis as well) 
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)
t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)
t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)
t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)
print("Type of t4 is: ", type(t4))

# creating empty tuple
t5 = ()
print("\nt5: ", t5)
print("Type of t5 is: ", type(t5))


# to create a tuple with only one element is a bit tricky
t6 = (5,)       # note the comma, without Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
Type of t4 is:  <class 'tuple'>

t5:  ()
Type of t5 is:  <class 'tuple'>

t6:  (5,)
<class 'tuple'>

### 2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements

In [2]:
# Tuples are heterogeneous, as their elements/items can be of any data type
t1 = ("Arif", 30, 5.5)
print("t1: ", t1)

# Tuples are ordered means every element is associated by an index, and every time you access list elements they will show up in same sequence
subjects = ('PF', 'OOP', 'Operating System', 'DSA')
print("subjects: ", subjects)

# Nested tuple: A tuple can also have another tuple, or list as an item
t2 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print("\nt5: ", t2)
print("Type of t5 is: ", type(t2))

# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
# numbers[2] = 15    # this will generate an error
new_numbers = (10, 20, 15)  # A tupple can be reassigned


# A list within a tuple is still mutable
my_tuple = (4, 2, 3, [6, 5])
my_tuple[3][0] = 9         # will work fine


# Tuples allow duplicate elements
names = ('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')
print(names)

# you can assign individual elements of tuples to string variables
msg = ('learning', 'is', 'fun', 'with', 'Arif')
v, w, x, y, z = msg # the number of variables on the left must match the length of tuple
print (v, y, z)
print(type(x))

t1:  ('Arif', 30, 5.5)
subjects:  ('PF', 'OOP', 'Operating System', 'DSA')

t5:  (1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
Type of t5 is:  <class 'tuple'>
('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')
learning with Arif
<class 'str'>

### 3. Different ways to access elements of a tuple

In [3]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Arif", 30, 5.5, [10,'rauf'])
print(t1[3])

#accessing Nested string element
print(t1[0][2])              #accessing third element of string at index 0
print(t1[3][1])              #accessing second element of Nested list

#Negative indexing
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element



# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument
mytuple = (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
print("\nmytuple: ", mytuple)
print("mytuple.index(3): ", mytuple.index('arif'))

[10, 'rauf']
i
rauf
[10, 'rauf']
5.5

mytuple:  (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
mytuple.index(3):  2

### 4. Being immutable, you cannot add elements to a tuple (in list this is possible using append, extend, and insert)

In [4]:
myfamily = ("Farooq", 'Rauf', 'Hadeed')
print("\n myfamily tuple: ", myfamily)
# myfamily.insert(2,'Arif') # will generate an error as tuple object has no attribute 'insert'

 myfamily tuple:  ('Farooq', 'Rauf', 'Hadeed')

### 5. Being immutable, you cannot remove elemenst from a tuple (in list this is possible using pop and remove methods)

In [5]:
# pop() method without any argument removes the last item in the list and returns it
# The pop(index) method if given an argument/index, will remove that item from the list whose index is given and returns it as well
tuple1 = ('learning', 'is', 'fun', 'with', 'arif', 'butt')
print("tuple1: ", tuple1)
# x  = list1.pop()  # will generate an error as tuple object has no attribute 'pop'


#You cannot delete items from a tuple using del keyword
#del tuple1[3]    # will generate an error as tuple object doesn't support item deletion


#You can delete an entire tuple object using del keyword
del tuple1
# print(tuple1)

tuple1:  ('learning', 'is', 'fun', 'with', 'arif', 'butt')

### 6. Tuple Concatenation and Repetition

In [6]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies') 
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

# You can concatenate two heterogeneous tuples
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print("\n",t3)

num1 = (1,2,3)
num2 = num1 + (4, 5, 6, [7, 8])  
print ("\n", num2)


# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Arif', 'Hadeed', 'Mujahid')
print ("\n", name * 3)

#list of 100 A's
buffer = ('A',)      # remember the comma to create a tuple of one item
print ("\n",buffer * 100)
print(type(buffer))

('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')

 (5, 3.4, 'hello', 31, 9.7, 'bye')

 (1, 2, 3, 4, 5, 6, [7, 8])

 ('Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid', 'Arif', 'Hadeed', 'Mujahid')

 ('A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A')
<class 'tuple'>

### 7. Slicing Tuples

In [7]:
# A tuple can be sliced using : symbol, which returns the range of elements specified by the index numbers
# first index specifies from where the slicing should start
# second index specifies where it has to stop (not included)

my_tuple = ('a','b','c','d','e','f','g','h','i')
print("Original tuple:", my_tuple)

print("my_tuple[:] returns:", my_tuple[:])

print("my_tuple[4:] returns:", my_tuple[3:])

print("my_tuple[:4] returns:", my_tuple[:4])

print("my_tuple[2:5] returns:", my_tuple[2:5])

print("my_tuple[:-2] returns:", my_tuple[:-2])

print("my_tuple[-1:] returns:", my_tuple[-1:])


# reverse the list using step value as -1
print("my_tuple[::-1] returns:", my_tuple[::-1])
print("After all this my_tuple is same: ", my_tuple)



# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
print("\nt1: ",t1)
#t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

Original tuple: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
my_tuple[:] returns: ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
my_tuple[4:] returns: ('d', 'e', 'f', 'g', 'h', 'i')
my_tuple[:4] returns: ('a', 'b', 'c', 'd')
my_tuple[2:5] returns: ('c', 'd', 'e')
my_tuple[:-2] returns: ('a', 'b', 'c', 'd', 'e', 'f', 'g')
my_tuple[-1:] returns: ('i',)
my_tuple[::-1] returns: ('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
After all this my_tuple is same:  ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')

t1:  (1, 2, 3, 4, 5, 6, 7)

### 8. Converting string object to tuple and vice-versa (using type casting, split() and join())

In [8]:
# convert a string into tuple using tuple()
str1 = 'Learning is fun'    #this is a string
print(type(str1))
print("Original string: ", str1, "and its type is:  ", type(str1))
t11 = tuple(str1)
print("t1: ", t1, "and its type is:  ", type(t1))


# split() method is used to tokenize a string based on some delimiter, which can be stored in a tuple
# returns a list having tokens of the string based on spaces if no argument is passed
# so for tuples you need to type cast the return object of split
print("\nGiven string: ", str1)
t1 = tuple(str1.split(' '))
print("t1=tuple(str1.split(' '))", t1)
print(type(t1))


#join is the reverse of split
delimeter = ' '
str2 = delimeter.join(t1)
print("\nstr2: ",str2)
print(type(str2))

<class 'str'>
Original string:  Learning is fun and its type is:   <class 'str'>
t1:  (1, 2, 3, 4, 5, 6, 7) and its type is:   <class 'tuple'>

Given string:  Learning is fun
t1=tuple(str1.split(' ')) ('Learning', 'is', 'fun')
<class 'tuple'>

str2:  Learning is fun
<class 'str'>

### 9. Misc Tuple methods in Python

In [9]:
# You cannot call sort() and reverse on a tuple being immutable
# sort() method works well on lists
list_num = (3, 8, 1, 6, 0, 8, 4)
# list_num.sort()
#list_num.reverse()

# count(value) method takes exactly one argument and returns the number of times a specified value occurs in a tuple
rv = list_num.count(8)
print(rv)

2

### 10. Some Built-in functions that can be used on tuples

In [10]:
t1 = (3, 8, 1, 6, 0, 8, 4)

print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))

# Membership (in) operator
rv1 = 9 in t1
print(rv1)

rv2 = "ARIF" in t1
print(rv2)

length of list:  7
max element in list:  8
min element in list:  0
Sum of element in list:  30
False
False

### 11. Misc Concepts

#### * Comparing objects and values

In [11]:
# in case of strings, both a and b refers to the same memory location containing string 'hello'
a = 'hello'
b = 'hello'
print ("Comparing two strings with is operator: ", a is b) # is operator is checking the memory address two strings
print ("Comparing two strings with == operator: ", a == b) # == operator is checking the contents of two strings

# in case of tuple, both a and b refers to two different objects in the memory having same values
x = ['hello']
y = ['hello']

print ("Comparing two tuples with is operator: ", x is y) # is operator is checking the memory address two tuples
print ("Comparing two tuples with == operator: ", x == y) # == operator is checking the contents of two tuples

Comparing two strings with is operator:  True
Comparing two strings with == operator:  True
Comparing two tuples with is operator:  False
Comparing two tuples with == operator:  True

#### b. Comparing Tuples

In [12]:
# you can use comparison operators on tuples
t1 = (1, 2, 3)
t2 = (3, 1, 2)
t3 = (1, 2, 3)
print(t1 != t2)
print(t1 == t3)
print(t1 > t2)

True
True
False

#### c. Aliasing

In [13]:
# alias_t1 is an alias to t1. i.e., both names refer to same object now.
# Draw diagram to understand
t1 = ('a', 'b', 'c')
t2 = ('a', 'b', 'c')
alias_t1 = t1

print(t1 is t2)
print(alias_t1 is t1)

False
True

### 12. Looping through tuple elements (More on loops in next lecture)

In [14]:
# for loop iterates over the elements specified number of times
t1 = ('Learning', 'is', 'fun', 'with', 'Arif Butt')
for x in t1:
    print(x)
    
# while loop iterates over the elements until a certain condition is met
ctr = 0
while(ctr < len(t1)):
    print(t1[ctr])
    ctr += 1

Learning
is
fun
with
Arif Butt
Learning
is
fun
with
Arif Butt